a{    
    position: relative;
    display: inline-block;
    padding: 15px 30px;    
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;    
    overflow: hidden;    
    transition: 0.2s;            
    margin-left: 10px;
}
a:hover{
    font-size: 20px;
    color: #255784;
    background: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
    
}

#home{
    color: cyan;
}

#a{
    color: white;
}


